@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--dark:   #262321;
		--mid:    #6F6A67;
		--light:  #D8D6D5;
		--color:  #FF5500;
		--bright: #DDFF00;
	}
	body { color: var(--dark); @apply bg-white font-sans; }
	/* h1, h2, h3 { letter-spacing: .2rem !important; @apply font-headline uppercase; } */
	h1 { font-size: clamp(2.813rem, 1.108rem + 8.52vw, 7.5rem); letter-spacing: .1rem !important; line-height:85% !important; @apply font-headline uppercase; }
	h2 { font-size: clamp(1.875rem, 0.739rem + 5.68vw, 5rem); @apply font-headline uppercase leading-none; }
	h2 span { color: var(--mid); }
	main h3 { color: var(--mid); @apply mb-3 font-mono text-xl uppercase; }
	main h4 { color: var(--mid); @apply mb-1 font-mono text-base uppercase; }
	p { @apply text-lg md:text-xl leading-normal mb-3; }

	nav { background: var(--color); @apply pt-4 px-1; }
		nav div { @apply leading-loose font-headline text-base md:text-2xl; }
		nav a:link, nav a:visited { @apply text-white; }
		nav a:hover, nav a:active { @apply text-white; }
	main a:link, main a:visited { color: var(--color); }
	main a:hover, main a:active { @apply underline underline-offset-8; }
	section { @apply mb-8; }
}
