---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
// import BlogHeader from '../components/BlogHeader.astro';
import MainNav from '../components/MainNav.astro'; // logo, nav
import BookPostPreview from '../components/BookPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Kyle Johnston's Bookshelf";
let description = 'A running list of the books I\'ve read.';
let permalink = 'https://bookshelf.kylewjohnston.com/about';

// Data Fetching: List all Markdown posts in the repo.
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
		<div class="wrapper max-w-7xl">
			<main class="content p-6 md:p-8">
				<section class="mb-16 max-w-3xl">
					<h1 class="mb-2">About this bookshelf</h1>
					<p class="text-xl md:text-3xl">This bookshelf is a running list of the books I've read since I started tracking my reading in 2018. When available, I've also included any notes or highlights I captured as I was reading.</p>
					<p>Made by <a href="https://www.kylewjohnston.com" target="_blank" rel="noopener">Kyle Johnston</a></p>
				</section>
				<section class="mb-8">
					<h2 class="mb-8">Design notes</h2>
					<div class="grid md:grid-cols-2 gap-8 md:gap-16 mb-8" style="grid-template-rows: repeat(auto-fill, minmax(18rem, 1fr));">
						<div>
							<h3>Inspiration</h3>
							<p>This project is an extension of my 'everything I read this year' posts (<a href="https://www.kylewjohnston.com/writing/all-of-the-things-i-read-in-2020/" target="_blank" rel="noopener">2020</a>, <a href="" target="_blank" rel="noopener">2019</a>, <a href="" target="_blank" rel="noopener">2018</a>). I wanted one place to keep track of my reading vs tracking year-by-year. I was motivated by projects like <a href="https://reading.lol/" target="_blank" rel="noopener">reading.lol</a>, <a href="https://www.arcana.computer/catalogs/books" target="_blank" rel="noopener">arcana.computer</a>, and <a href="https://github.com/melanierichards/highlights" target="_blank" rel="noopener">Highlights</a>.</p>
							<h3 class="mt-8">Navigation</h3>
							<p>The colorful navigation bar is inspired by book spine design. On large screens, the vertical orientation emphasizes this concept.</p>
							<h3 class="mt-8">Typography</h3>
							<p>The headline font – Roboto Flex – is a variable font that enables the ultra-compressed look of the title on book detail pages. Read more about its <a href="https://material.io/blog/roboto-flex" target="_blank" rel="noopener">extensive features</a> or get it from <a href="https://fonts.google.com/specimen/Roboto+Flex" target="_blank" rel="noopener">Google Fonts</a>.</p>
							<p>The inspiration for the headline typography came from a classic Herman Miller ad  <span class="hidden md:inline">→</span><span class="md:hidden">↓</span></p>
							<p class="headline text-gray-500">Headline Test</p>
						</div>
						<div>
								<img class="rounded-3xl aspect-square object-cover border" src="/static/herman-miller-ad.jpg" loading="lazy" alt="Design inspiration: Herman Miller ad">
						</div>
					</div>
					<h3>Tooling</h3>
					<p><a href="https://astro.build" target="_blank" rel="noopener">Astro</a> – a fun framework for building fast websites</p>
					<p><a href="https://www.figma.com" target="_blank" rel="noopener">Figma</a> for concept design – <a href="https://www.figma.com/file/Kp9LPdmF41b5WzVFN7FxCk/Bookshelf?node-id=2%3A6" target="_blank" rel="noopener">Figma file</a></p>
					<p><a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a> for hosting with automated builds from GitHub commits</p>
					<p><a href="https://tailwindcss.com/" target="_blank" rel="noopener">Tailwind CSS</a> for styling</p>
					<p><a href="https://visualstudio.microsoft.com/" target="_blank" rel="noopener">Visual Studio</a> for coding</p>
				</section>
			</main>
		</div>
	</body>
</html>
