---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import MainNav from '../components/MainNav.astro'; // logo, nav
import BookPostPreview from '../components/BookPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Kyle Johnston's Bookshelf";
let description = 'A running list of the books I\'ve read.';
let permalink = 'https://bookshelf.kylewjohnston.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./book/*.mdx');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.finishDate).valueOf() - new Date(a.frontmatter.finishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
		<main class="content">
			<section aria-label="Bookshelf" class="book-grid">
				{allPosts.map((p) => <BookPostPreview post={p} />)}
			</section>
		</main>
	</body>
</html>
