---
import { getCollection } from 'astro:content';
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import MainNav from '../components/MainNav.astro'; // logo, nav
import BookPostPreview from '../components/BookPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// let title = "Kyle Johnston's Bookshelf";
let pageTitle = "Kyle Johnston's Bookshelf"
let description = 'A running list of the books I\'ve read.';
let permalink = 'https://bookshelf.kylewjohnston.com/';

// Data Fetching: List all Markdown posts in the repo.
// let allPosts = await Astro.glob('./book/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.added).valueOf() - new Date(a.frontmatter.added).valueOf());

// New: Use Content Collections to list all posts from src/content/book
const books = (await getCollection('book')).sort(
	(a, b) => b.data.added.valueOf() - a.data.added.valueOf()
);


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {pageTitle} {description} {permalink} />
	</head>

	<body>
		<MainNav /> <!-- logo, nav -->
		<main class="content">
			<section aria-label="Bookshelf" class="book-grid">
				{books.map((p) => <BookPostPreview post={p} />)}
			</section>
		</main>
		<Footer />
	</body>
</html>
