---
export interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;
---

<div class="author">
	<h2><a {href}>{name}</a></h2>
</div>

<!-- <style>
	.author {
		margin-bottom: 0.75rem;
	}
</style> -->
