---
export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}
const { title, author, publishDate, heroImage, alt } = Astro.props;
---

			<main class="book-body">
				<slot />
			</main>

