---
import Author from './Author.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}
const { title, author, publishDate, heroImage, alt } = Astro.props;
---

			<main class="bg-gray-200 max-w-3xl">
				<slot />
			</main>

