---
// renders the book cover on the homepage / index.astro
export interface Props {
	post: any;
}

const { post } = Astro.props;
const altContent = [post.frontmatter.title + " by " + post.frontmatter.author + " finished on " + post.frontmatter.finishDate];
---

<article class="post-preview">
	<a href={post.url}>
		{post.frontmatter.coverImage && <img width="100%" height="auto" class="book-cover" loading="lazy" src={post.frontmatter.coverImage} alt={altContent} /> }
	</a>
</article>
