---
export interface Props {
	library: string;
	bookshelf: string;
	amazon: string;
	other: string;
}

const { library, bookshelf, amazon, other } = Astro.props;
---

<h3 class="mt-8">Get a copy</h3>
{library   && <p><a href={library}>Local Library</a></p> }
{bookshelf && <p><a href={bookshelf}>Bookshelf.org</a></p> }
{amazon    && <p><a href={amazon}>Amazon</a></p> }
{other     && <p><a href={other}>Website</a></p> }
