---
import Logo from './Logo.astro';

---
<nav>
  <div class="content">
    <a href="/">
    <div class="logo">
      <Logo /> <span>Bookshelf</span>
    </div>
    </a>
    <a class="top-px md:right-0.5" href="/about">About</a>
  </div>
</nav>
