<nav class="shrink-0">
  <div class="">
    <a class="" href="/">Hello world</a>
  </div>
</nav>

<style>
  nav a:link, nav a:visited { color: #fff; }
  nav a:hover, nav a:active { color: #fff; }
  nav div {
    writing-mode: vertical-rl;
  }
</style>
