---
import Logo from './Logo.astro';

---
<nav>
  <div class="content md:right-0.5">
    <div><a href="/"><Logo /></a></div>
    <div class="grid justify-center"><a href="/">Bookshelf</a></div>
    <div class="grid justify-end"><a href="/about">About</a></div>
  </div>
</nav>
