---
import Logo from './Logo.astro';

---
<nav>
  <div class="content md:right-0.5">
    <div><a href="/" aria-label="Return to home"><Logo /></a></div>
    <div class="grid justify-center"><a href="/" aria-label="Return to home">Bookshelf</a></div>
    <div class="grid justify-end"><a href="/about" aria-label="About this bookshelf">About</a></div>
  </div>
</nav>
